@page
@model WRM.Web.Pages.PspMeasurements.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PspMeasurement</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PspMeasurement.Label" class="control-label"></label>
                <input asp-for="PspMeasurement.Label" class="form-control" />
                <span asp-validation-for="PspMeasurement.Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PspMeasurement.QueryString" class="control-label"></label>
                <textarea asp-for="PspMeasurement.QueryString" class="form-control"></textarea>
                <span asp-validation-for="PspMeasurement.QueryString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PspMeasurement.DateType" class="control-label"></label>
                <input asp-for="PspMeasurement.DateType" class="form-control" />
                <span asp-validation-for="PspMeasurement.DateType" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PspMeasurement.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
