@page
@model WRM.Web.Pages.ZscoreChecks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ZscoreCheck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZscoreCheck.MeasurementId" class="control-label"></label>
                <select asp-for="ZscoreCheck.MeasurementId" class="form-control" asp-items="ViewBag.MeasurementId"></select>
                <span asp-validation-for="ZscoreCheck.MeasurementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZscoreCheck.NumDays" class="control-label"></label>
                <input asp-for="ZscoreCheck.NumDays" class="form-control" />
                <span asp-validation-for="ZscoreCheck.NumDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZscoreCheck.Threshold" class="control-label"></label>
                <input asp-for="ZscoreCheck.Threshold" class="form-control" />
                <span asp-validation-for="ZscoreCheck.Threshold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZscoreCheck.Influence" class="control-label"></label>
                <input asp-for="ZscoreCheck.Influence" class="form-control" />
                <span asp-validation-for="ZscoreCheck.Influence" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ZscoreCheck.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
