@page
@model WRM.Web.Pages.ZscoreChecks.ViewDataModel
@{
    ViewData["Title"] = "ViewData";
}

<h1>Zscores and actual data visualization</h1>

<form method="post">
    <select asp-for="MeasurementId" class="chosen-select mr-3" asp-items="ViewBag.MeasurementId" style="width:16em"></select>
    <input asp-for="StartDate" type="date" class="mr-3" />
    <input asp-for="EndDate" type="date" class="mr-3" />
    <input asp-for="NumDays" class="mr-3" placeholder="lag days for zscore calculation" />
    <button class="btn btn-success">View Data</button>
</form>
<hr />
<div id='plotDiv'></div>

@section Scripts{
    @if (Model.ZscoresData.Timestamps.Count > 0)
    {
        <script src='~/lib/node_modules/plotly.js-cartesian-dist/plotly-cartesian.js'></script>
        <script type="text/javascript">
            var trace1 = {
                name:'data',
                x: [@string.Join(",", Model.ZscoresData.Timestamps.Select(t=>$"new Date({t.Subtract(new DateTime(1970,1,1,0,0,0,DateTimeKind.Utc)).TotalMilliseconds})"))],
                y: [@string.Join(",", Model.ZscoresData.vals.Select(t=>$"{t}"))],
                type: 'scatter'
            };

            var trace2 = {
                name:'zscore',
                yaxis: 'y2',
                x: [@string.Join(",", Model.ZscoresData.Timestamps.Select(t=>$"new Date({t.Subtract(new DateTime(1970,1,1,0,0,0,DateTimeKind.Utc)).TotalMilliseconds})"))],
                y: [@string.Join(",", Model.ZscoresData.zScores.Select(t=>$"{t}"))],
                type: 'scatter'
            };

            var data = [trace1, trace2];

            var layout = {
              legend: {"orientation": "h"},
              yaxis: {title: 'Data'},
              yaxis2: {
                title: 'Z-score',
                overlaying: 'y',
                side: 'right'
              }
            };
            Plotly.newPlot('plotDiv', data, layout);
        </script>
    }
}


